<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8" />
<title>Inscription cantine</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
<!--  voir https://memorynotfound.com/adding-static-resources-css-javascript-images-thymeleaf/  -->
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/twbsPagination.js}"></script>
</head>
<body>
	<div id="replace_div">La liste est mise a jour ici</div>
	<!-- barre de navigation dans les pages -->
	<div class="row justify-content-center">
		<ul class="sync-pagination"></ul>
	</div>
	<script>
		$(function () {
			// script plugin barre de navigation dans les page
			var $pagination = $('.sync-pagination');	
			$pagination.twbsPagination({
				totalPages : 30,
				onPageClick : function(evt, page) {			
					var nbElementParPage = [[${NbElementParPage}]];
					var url = "listEleves?page=" + page + "&size="+nbElementParPage;
					$.ajax(url, {
						success : function(data) {
							$('#replace_div').html(data);
						}
					});
				}
			});
			var nbPages = [[${NbTotalPages}]];
			console.info('nb pages '+ nbPages);
			var currentPage = $pagination.twbsPagination("getCurrentPage");
			console.info('CurrentPage '+ currentPage);
			$pagination.twbsPagination("changeTotalPages", nbPages, currentPage);
		});	
		
		function show (id, page, taillePages){
			console.info('parameter  ' + id + " "+ page+ " " + taillePages);
			var url = "changeInscription?page=" + page + "&size="+taillePages + "&id=" + id;
			$.ajax(url, {
				success : function(data) {
					$('#replace_div').html(data);
				}
			});
		}		
	</script>
</body>
</html>

